*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

div {
    margin: auto;
    width: 28%;
}
button:not(#egal):not(#reset){
    width: 25%;
    padding: 1em;
}
p {
    border: 1px solid black;
    width: 100%;
    padding: 1em;
}

#egal {
    width: 50%;
    padding: 1em;
}
#reset {
    width: 100%;
    padding: 1em;
}